:root {
  --color-accent: #6cf279;
  --color-accent-transparent: #6cf2792a;
  --color-text: #2f3841;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  color: var(--color-text);
  line-height: 3.9rem;
  font-size: 2.1rem;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 7;
  line-height: 6rem;
  font-weight: 500;
}

h2 {
  font-size: 5rem;
  line-height: 6.9rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 9rem;
    line-height: 9.5rem;
    font-weight: 500;
  }

  h2 {
    font-size: 6rem;
    line-height: 6.9rem;
    font-weight: 500;
  }

  h3 {
    font-size: 2rem;
  }

  body {
    font-size: 2.3rem;
  }
}

/* Containers & Grid */
.outer-container {
  max-width: 1440px;
  margin: 0 auto;
}

.inner-container {
  max-width: 1156px;
  margin: 0 auto;
}

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid-1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid-1x5 {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Links & Lists */

a {
  text-decoration: none;
  color: var(--color-text);
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Buttons */

.btn {
  width: 16.6rem;
  border: 0;
  cursor: pointer;
  outline: 0;
  text-align: center;
  white-space: nowrap;
  border-radius: 100px;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  line-height: 2.3rem;
  padding: 1.4rem 2.5rem;
}

.large {
  width: 18.9rem;
  padding: 1.6rem 4.8rem;
}

.btn-white {
  background-color: #fff;
}

.btn-green {
  background-color: var(--color-accent);
}

.btn-outline-filled {
  border: 1px solid var(--color-text);
  background-color: var(--color-accent);
}

.btn-outline {
  border: 1px solid var(--color-text);
}

.btn-nav {
  padding: 1.1rem 2.8rem;
  font-size: 1.8rem;
}

/* Navbar */

.text-logo {
  font-size: 3.7rem;
  line-height: 4.5rem;
  font-weight: 300;
  margin: 0 0;
}

.text-logo-green {
  color: var(--color-accent);
}

.logo-bold {
  font-weight: 600;
}

.icon {
  max-width: 35px;
}

.icon-large {
  max-width: 200px;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
  text-align: center;
}

.nav-list {
  width: 100%;
  margin: 0;
}

.nav-item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid var(--color-text);
  width: 40rem;
  margin: 0 auto;
}

.nav-item:last-of-type {
  margin-bottom: 2rem;
}

.nav-toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible-expanded .collapsible-content {
  max-height: 100%;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .nav-toggler {
    display: none;
  }

  .nav-list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav-item {
    border: 0;
    width: 100%;
    margin: 0;
  }

  .collapsible-expanded .collapsible-content {
    max-height: 100%;
    opacity: 1;
  }

  .nav-item:last-of-type {
    margin-bottom: 0;
  }
}

/* Instant Team Chat Block */

.team-chat-block {
  text-align: center;
}

.seperator {
  max-width: 150px;
  height: 2px;
  background-color: var(--color-text);
  margin: 12rem auto 5rem;
}

.team-chat-title {
  padding: 2rem;
}

.team-chat-content {
  max-width: 763px;
  margin: 0 auto 5rem;
  opacity: 0.75;
  padding: 2rem;
}

.screenshot {
  max-width: 1200px;
  margin-top: 5rem;
  padding: 2rem;
  margin-bottom: 5rem;
}

/* Hero */

.bg-gradient {
  background: linear-gradient(
    291.25deg,
    #6bf178 52.94%,
    rgba(163, 255, 172, 0.49) 106.42%
  );
}

.hero-img {
  max-width: 400px;
  margin-bottom: 5rem;
}

.hero-block {
  align-items: center;
  padding: 2rem 5rem;
  text-align: center;
}

.hero-content {
  margin-bottom: 3rem;
}

.hero-btn2 {
  margin-left: 2rem;
  margin-bottom: 8rem;
}

@media screen and (min-width: 728px) {
  .hero-img {
    max-width: 597px;
  }

  .hero-block {
    align-items: center;
    padding: 10rem 5rem;
    text-align: left;
  }

  .hero-content {
    margin-bottom: 5rem;
  }

  .hero-title {
    margin-bottom: 3rem;
  }
  .hero-btn1 {
    margin-bottom: 1rem;
  }

  .hero-btn2 {
    margin-left: 0;
    margin-bottom: 8rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero-btn2 {
    margin-left: 2rem;
  }
}

/* Perfect Solution Block */

.background {
  background-color: var(--color-accent-transparent);
  padding: 3rem 0;
}

.team-img-div {
  margin: 0 auto;
  max-width: 400px;
  padding: 2rem;
}

.team-content-block {
  text-align: center;
  padding: 2rem;
}

.team-content {
  margin-bottom: 5rem;
}

.rating-content {
  display: block;
}

.team-block {
  align-items: center;
}

@media screen and (min-width: 768px) {
  .team-img-div {
    max-width: 561px;
  }

  .team-content-block {
    text-align: left;
    max-width: 550px;
  }

  .team-stars {
    transform: translateY(10px);
  }

  .rating-content {
    display: inline;
    padding: 1rem;
    width: 100px;
    font-size: 1.8rem;
  }
}

/* Footer */
.footer {
  margin-top: 15rem;
}

.info-block {
  cursor: pointer;
}

.info-content {
  font-size: 1.8rem;
  width: 100%;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .footer {
    margin-top: 15rem;
    padding: 2rem;
  }

  .info-content {
    width: auto;
    display: flex;
    font-size: 1.8rem;
    max-height: 100%;
    opacity: 1;
  }
}

/* Make the chatapp part of the grid take up more space like 2 grids compared to the others in desktop  */
