:root {
  --color-accent: #6cf279;
  --color-text: #2f3841;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  color: var(--color-text);
  line-height: 3.9rem;
  font-size: 2.3rem;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 9rem;
  line-height: 9.5rem;
}

h2 {
  font-size: 5.7rem;
  line-height: 6.9rem;
}

h3 {
  font-size: 2rem;
}

/* Containers & Grid */
.outer-container {
  max-width: 1440px;
}

.inner-container {
  max-width: 1156px;
}

/* Links & Lists */

a {
  text-decoration: none;
  color: var(--color-text);
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Buttons */

.btn {
  width: 16.6rem;
  border: 0;
  cursor: pointer;
  outline: 0;
  text-align: center;
  white-space: nowrap;
  border-radius: 100px;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  line-height: 2.3rem;
  padding: 1.4rem 2.5rem;
}

.btn-white {
  background-color: #fff;
}

.btn-green {
  background-color: var(--color-accent);
}

.btn-outline {
  border: 1px solid var(--color-text);
}

/* Information Block */

.info-block {
  cursor: pointer;
}

.info-content {
  font-size: 1.8rem;
  width: 100%;
  margin: 0;
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible-expanded .collapsible-content {
  max-height: 100%;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .info-content {
    width: auto;
    display: flex;
    font-size: 1.8rem;
    max-height: 100%;
    opacity: 1;
  }

  .collapsible-expanded .collapsible-content {
    max-height: 100%;
    opacity: 1;
  }
}
