<header>
  <div class="outer-container">
    <div class="inner-container">
      <div class="bg-gradient">
        <nav class="nav collapsible">
          <h2 class="text-logo"><span class="logo-bold">chat</span>app</h2>
          <img class="icon nav-toggler" src="images/menu.png" alt="" />
          <ul class="list nav-list collapsible-content">
            <li class="nav-item">Product</li>
            <li class="nav-item">Services</li>
            <li class="nav-item">Contact</li>
            <li class="nav-item">Log In</li>
            <button class="btn btn-white btn-nav">Try it Free</button>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
